/*
    CSS resets
    YouTube vid: https://www.youtube.com/watch?v=Yl8hg2FG20Q&list=PLA0l4VLT9AlkOlAf2mHweBODcmG7FqHYo&index=10
*/
:root {
    --bgc: #e7e5e7;
    --bodyFont: "Georgia", serif;
    --h1f: "Helvetica", sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: var(--bgc);
    font-family: var(--bodyFont);
    width: 90%;
    margin-inline: auto;
    display: grid;
    place-items: center;
}

section {
    margin-top: 1.5em;
}

/*
  Font Clamp
  https://piccalil.li/tutorial/fluid-typography-with-css-clamp/
*/
h1,
p {
    font-size: clamp(
        var(--fluid-type-min, 1rem),
        calc(1rem + var(--fluid-type-target, 3vw)),
        var(--fluid-type-max, 1.3rem)
    );
}
h1 {
    font-family: var(--h1f);
    padding-bottom: 1em;
    --fluid-type-min: 2rem;
    --fluid-type-max: 3.5rem;
    --fluid-type-target: 5.5vw;
}

p {
    line-height: 1.8;
    padding-bottom: 1.5em;
}
